body.activitychooser-enabled .section-modchooser-link {
    display: none !important;
}

body.activitychooser-enabled .activitychooser-modal-body .row {
    margin-bottom: 1em;
}

body.activitychooser-enabled .activitychooser-modal-body .favourites .card-title {
    text-align: center;
    font-size: 0.75em;
}

body.activitychooser-enabled .activitychooser-modal-body .icon {
    font-size: 2em;
    width: 1em;
    height: 1em;
    transition: all .1s ease-in-out;
}

body.activitychooser-enabled .activitychooser-modal-body .icon:hover {
    transform: scale(1.5);
}

@media (max-width: 450px) {
    body.activitychooser-enabled .activitychooser-modal-body .favourites .card-title {
        display: none;
    }
}

body.activitychooser-enabled .activitychooser-modal-body .container.favourites a:hover .card {
    background-color: #f9f9f9;
    border-color: #ec3;
}

body.activitychooser-enabled .activitychooser-modal-body .container.favourites a:hover {
    text-decoration: none;
}

body.activitychooser-enabled .activitychooser-modal-body .toggle-favourite[class*="fa-star"] {
    font-size: 1.35em;
    font-weight: bold;
}

body.activitychooser-enabled .activitychooser-modal-body .toggle-favourite {
    transition: all .1s ease-in-out;
}

body.activitychooser-enabled .activitychooser-modal-body .toggle-favourite:not(.spinning):hover {
    transform: scale(1.5);
}

body.activitychooser-enabled .activitychooser-modal-body .toggle-favourite.fa-star-o {
    color: #bfbfbf;
}

body.activitychooser-enabled .activitychooser-modal-body .toggle-favourite.fa-star {
    color: #ffc107;
}

body.activitychooser-enabled .favourites .card {
    border-radius: 2.5px;
}

body.activitychooser-enabled .activitychooser-modal-body .card.starred,
.favourites .card{
    border-color: #ffe0a0;
}

@-moz-keyframes ajax-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes ajax-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes ajax-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body.activitychooser-enabled .activitychooser-modal-body .toggle-favourite.spinning {
    -webkit-animation:ajax-spin 3s linear infinite;
    -moz-animation:ajax-spin 3s linear infinite;
    animation:ajax-spin 3s linear infinite;
}

body.activitychooser-enabled .activitychooser-modal-body .full-help-text {
    display: none;
}

body.activitychooser-enabled .activitychooser-modal-body .help-visible .short-help-text {
    display: none;
}

body.activitychooser-enabled .activitychooser-modal-body .help-visible .full-help-text {
    display: block;
}

body.activitychooser-enabled .activitychooser-modal-body .help-text:hover {
    cursor: pointer;
}

body.activitychooser-enabled .activitychooser-modal-body .container h2 {
    font-size: 1.2rem;
}

body.activitychooser-enabled span.expand-ico,
body.activitychooser-enabled span.collapse-ico {
    min-width: 1.25rem;
}

/* Make sure toggles hide the appropriate icon according to state */
body.activitychooser-enabled .activitychooser-modal-body a[data-toggle="collapse"][aria-expanded="false"] span.collapse-ico {
    display: none;
}
body.activitychooser-enabled .activitychooser-modal-body a[data-toggle="collapse"][aria-expanded="true"] span.expand-ico {
    display: none;
}