<div class="activitychooser-modal-body {{#recommendedRows.length}}has-recommended{{/recommendedRows.length}} {{#starredRows.length}}has-starred{{/starredRows.length}}">
    {{#starredRows.length}}
        <div class="container favourites">
            {{#starredRows}}
            <div class="row">
                {{#.}}
                    <div class="col-3">
                        <a class="mx-auto mt-3" href="{{{link}}}">
                            <div class="card" style="width: 100%">
                                <!--<i role="button" aria-label="Toggle starred for {{label}}" class="fa {{#starred}}fa-star{{/starred}}{{^starred}}fa-star-o{{/starred}} pull-right toggle-favourite" data-id="{{id}}"></i>-->
                                <div class="mx-auto mt-3">
                                    {{{icon}}}
                                </div>
                                <div class="card-body py-2">
                                    <h6 class="card-title">{{label}}</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/.}}
            </div>
            {{/starredRows}}
        </div>
        <hr/>
    {{/starredRows.length}}


    {{#recommendedRows.length}}
        <div class="container">
            <h2>{{#str}}recommendedshort, local_activitychooser{{/str}}</h2>
            {{#recommendedRows}}
                <div class="row">
                    {{#.}}
                        {{> local_activitychooser/activity_media_card }}
                    {{/.}}
                </div>
            {{/recommendedRows}}
        </div>
        <hr/>
    {{/recommendedRows.length}}

    {{#allRows.length}}
    <div class="container">
        {{#allExpandable}}
            <a data-toggle="collapse" href="#collapsed-all" aria-expanded="false" aria-controls="collapsed-all">
                <h2><span class="fa fa-angle-right expand-ico"></span><span class="fa fa-angle-down collapse-ico"></span><span class="mx-1">{{#str}}all, local_activitychooser{{/str}}</span></h2>
            </a>
            <div class="collapse" id="collapsed-all">
                {{#allRows}}
                    <div class="row">
                        {{#.}}
                            {{> local_activitychooser/activity_media_card }}
                        {{/.}}
                    </div>
                {{/allRows}}
            </div>
        {{/allExpandable}}

        {{^allExpandable}}
            <h2>{{#str}}all, local_activitychooser{{/str}}</h2>
            {{#allRows}}
                <div class="row">
                    {{#.}}
                        {{> local_activitychooser/activity_media_card }}
                    {{/.}}
                </div>
            {{/allRows}}
        {{/allExpandable}}
    </div>
    {{/allRows.length}}
</div>