<div class="container">
  <div class="row">
    <div class="form-select col-5">
        <input type="hidden" name="{{name}}[xxxxx]" value="1">
        <select name="{{name}}[]" size="{{size}}" class="localactivitychoosermoduleslist form-control" multiple>
            {{#options}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/options}}
        </select>
    </div>
    <div class="col-2">
        <button id="activitychooser_recommended_add" class="mx-auto mb-2" type="button" style="display:block;">
            <i class="fa fa-long-arrow-right mx-auto my-1" style="font-size:30px; color:grey;"></i>
        </button>
        <button id="activitychooser_recommended_remove" class="mx-auto mb2" type="button" style="display:block;">
            <i class="fa fa-long-arrow-left mx-auto my-1" style="font-size:30px; color:grey;"></i>
        </button>
        </div>
    <div class="form-select col-5">
        <select id="{{id}}" name="{{name}}[]" size="{{size}}" class="localactivitychoosermodulesselected form-control" multiple>
                {{#optionsselected}}
                    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/optionsselected}}
        </select>
    </div>
  </div>
</div>

